<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.springbootdeveloper.mapper.PostsMapper">

    <select id="getPostsList" parameterType="com.backend.springbootdeveloper.dto.PostsResponseDto">
        select p.post_id,
               p.user_id,
               p.post_type,
               u.nickname,
               p.title,
               p.content,
               p.category,
               p.region,
               p.view_count,
               p.comment_count,
               p.created_at,
               p.updated_at,
               p.is_deleted
          from posts p
          join users u on p.user_id = u.user_id
         where is_deleted = false
        order by created_at desc
    </select>

    <insert id="createPosts" parameterType="com.backend.springbootdeveloper.dto.PostsResponseDto">
        insert into posts
        (
            user_id,
            post_type,
            title,
            content,
            category,
            region,
            view_count,
            comment_count,
            created_at,
            updated_at,
            is_deleted
        ) values (
            #{userId},
            #{postType},
            #{title},
            #{content},
            #{category},
            #{region},
            #{viewCount},
            #{commentCount},
            now(),
            now(),
            0
        )
    </insert>

    <select id="getPostsDetails" parameterType="long" resultType="com.backend.springbootdeveloper.dto.PostsResponseDto">
        select p.post_id,
               p.user_id,
               p.post_type,
               u.nickname,
               p.title,
               p.content,
               p.category,
               p.region,
               p.view_count,
               p.comment_count,
               p.created_at,
               p.updated_at,
               p.is_deleted
        from posts p
        join users u on p.user_id = u.user_id
        where p.post_id = #{postId}
    </select>

    <update id="increaseViewCount" parameterType="long">
        UPDATE posts
        SET view_count = view_count + 1
        WHERE post_id = #{postId}
    </update>

    <insert id="createComment" parameterType="com.backend.springbootdeveloper.domain.post.Comment" useGeneratedKeys="true" keyProperty="commentId">
        insert into comments (
            post_id,
            user_id,
            content,
            created_at
        ) values (
            #{postId},
            #{userId},
            #{content},
            now()
        )
    </insert>

    <select id="getComment" resultType="com.backend.springbootdeveloper.dto.CommentResponseDto">
        select c.comment_id,
               c.post_id,
               c.user_id,
               c.content,
               c.created_at
          from comments c
        where c.post_id = #{postId}
        order by c.created_at desc
    </select>
</mapper>