<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.springbootdeveloper.mapper.UserMapper">

    <!-- 회원가입-->
    <insert id="insertUser">
        INSERT INTO users (email, password, nickname, created_at)
        VALUES (#{email}, #{password}, #{nickname}, NOW())
    </insert>
    <!--유저 조회-->
    <select id="findByEmail" parameterType="string" resultType="com.backend.springbootdeveloper.domain.User">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <!--user_id로 유저조회-->
    <select id="findById" parameterType="long" resultType="com.backend.springbootdeveloper.domain.User">
        SELECT * FROM users WHERE user_id = #{userId}
    </select>

    <!--이메일 중복 확인-->
    <select id="existsByEmail" resultType="boolean">
        SELECT COUNT(*) > 0 FROM users WHERE email = #{email}
    </select>

    <!-- 닉네임 중복 확인 -->
    <select id="existsByNickname" resultType="boolean">
        SELECT COUNT(*) > 0 FROM users WHERE nickname = #{nickname
        }
    </select>

    <!--  회원정보 수정  -->
    <update id="updatedUser">
        UPDATE users
        <set>
            <if test="dto.email != null">email = #{dto.email},</if>
            <if test="dto.nickname != null">nickname = #{dto.nickname},</if>
            <if test="dto.password != null">password = #{dto.password},</if>
        </set>
        WHERE user_id = #{userDetails.userId}
    </update>

    <delete id="deleteUser">
        DELETE FROM users
        WHERE user_id = #{userId}
    </delete>
</mapper>